html {
  height: 100%;
}
body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  overflow: hidden;
  background-image: url(/img/main-header.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  overflow-y: scroll;
}
.container {
  margin-bottom: 30px;
}
.container .header-panel {
  text-align: center;
  margin-top: 5%;
}
.container #input-form {
  border-width: 0px;
  box-shadow: 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.8);
}
.container .panel-body {
  padding-bottom: 0px;
}
.row.no-margin {
  margin-left: 0px;
  margin-right: 0px;
}
.ogp-image {
  max-width: 100%;
  width: 470px;
  max-height: 381px;
  border: 1px solid #eeeeee;
  margin-left: 15px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  overflow: hidden;
  box-shadow: 1px 1px 0px #ddd;
}
.ogp-image-img-wrapper {
  width: 470px;
  max-width: 100%;
  height: 246px;
  overflow: hidden;
}
.ogp-image-img-wrapper img {
  width: 100%;
}
.ogp-image-content {
  padding-left: 15px;
  padding-right: 15px;
}
.ogp-image-title {
  font-weight: bold;
  font-size: 20px;
  max-height: 72px;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 24px;
}
.ogp-image-description {
  overflow: hidden;
}
#result {
  padding-top: 5px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
}
#result h5 {
  text-align: center;
  margin-bottom: 45px;
}
#result .close-result {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 12px;
}
#result .close-result:hover {
  color: #777777;
}
#result .result-inner {
  padding-top: 45px;
  padding-bottom: 200px;
}
#result .result-inner > .row {
  margin-top: 10px;
  margin-bottom: 10px;
}
#result .result-inner > .row .content {
  color: #337ab7;
  font-size: 16px;
  font-weight: bold;
}
#result .result-inner > .row .element {
  color: #00ACC1;
  font-size: 14px;
}
#result .result-inner > .row .title blockquote {
  border-left-color: #2196F3;
}
.main-footer {
  margin-top: 45px;
  height: 45px;
  width: 100%;
}
#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
}
#loader.shown {
  display: inline-block;
}
